In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import nltk
from nltk.stem import PorterStemmer,WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [2]:
resturant_data=pd.read_csv('/content/TA_restaurants_curated.csv', nrows=10000)

FileNotFoundError: ignored

# New Section

In [ ]:
resturant_data.drop(resturant_data.columns[0],axis=1,inplace=True)

In [ ]:
resturant_data.isnull().sum()

In [ ]:
resturant_data.Reviews.dropna(inplace=True)

In [ ]:
resturant_data.Reviews[51]

In [ ]:
eval(resturant_data.Reviews[51])[0]

In [ ]:
def extract(x):
    try :
        return eval(x)[0]
    except:
        pass

In [ ]:
resturant_data.Reviews = resturant_data.Reviews.apply(lambda x : extract(x))

In [ ]:
resturant_data.Reviews[10]

In [ ]:
import re
resturant_data.Reviews = resturant_data.Reviews.apply(lambda x : re.sub(r'\W',' ',str(x)))
resturant_data.Reviews

In [ ]:
resturant_data.Reviews = resturant_data.Reviews.str.lower()

In [ ]:
resturant_data.Reviews.notnull().sum()

In [ ]:
nltk.download('punkt')
nltk.download('stopwords')

In [ ]:
resturant_data.Reviews = resturant_data.Reviews.apply(lambda x : word_tokenize(str(x)))

In [ ]:
resturant_data.Reviews

In [ ]:
stop_words= stopwords.words('english')
print(stop_words)

In [ ]:
resturant_data.Reviews = resturant_data.Reviews.apply(lambda x : [ele for ele in x if ele not in stop_words])

In [ ]:
resturant_data.Reviews

In [ ]:
ps = PorterStemmer()

In [ ]:
resturant_data.Reviews.apply(lambda x : [ps.stem(ele) for ele in x])

In [ ]:
lemma = WordNetLemmatizer()

In [ ]:
nltk.download('wordnet')

In [ ]:
resturant_data.Reviews = resturant_data.Reviews.apply(lambda x : [lemma.lemmatize(ele) for ele in x])

In [ ]:
resturant_data.Reviews = resturant_data.Reviews.apply(lambda x : ' '.join(x))

In [ ]:
resturant_data.Reviews

0                 like home warm welcome wintry amsterdam
1                                great food staff perfect
2            satisfaction delicious old school restaurant
3       true five star dinner superb evening fine dini...
4                    best meal ever super food experience
                              ...
9995                   good lunch polite friendly service
9996
9997                bread good fantastic local restaurant
9998               amazing around good eats helpful staff
9999           nice vegetarian option know exactly eating
Name: Reviews, Length: 10000, dtype: object

In [ ]:
count_vec = CountVectorizer()

In [ ]:
trans_data = count_vec.fit_transform(resturant_data.Reviews).toarray()

In [ ]:
print(trans_data[0])

[0 0 0 ... 0 0 0]

In [ ]:
len(count_vec.get_feature_names_out())

5036

In [ ]:
pd.DataFrame(trans_data,columns= count_vec.get_feature_names_out())

,00,10,100,1000,101,10pm,11,12,13,15,...,מבחר,龍蝦好吃,가격의,그리스,맛볼,여기입니다,요리를,있는,합리적인,현대
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
tf_idf = TfidfVectorizer()

In [ ]:
transformed = tf_idf.fit_transform(resturant_data.Reviews).toarray()

array(['00', '10', '100', ..., '있는', '합리적인', '현대'], dtype=object)