In [5]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, SimpleRNN
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
import math
import matplotlib.pyplot as plt

In [6]:
sunspots_url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/monthly-sunspots.csv'
pd.read_csv(sunspots_url)

        Month  Sunspots
0     1749-01      58.0
1     1749-02      62.6
2     1749-03      70.0
3     1749-04      55.7
4     1749-05      85.0
...       ...       ...
2815  1983-08      71.8
2816  1983-09      50.3
2817  1983-10      55.8
2818  1983-11      33.3
2819  1983-12      33.4

[2820 rows x 2 columns]

In [7]:

# Parameter split_percent defines the ratio of training examples
def get_train_test(url, split_percent=0.8):
    df = pd.read_csv(url, usecols=[1], engine='python')
    data = np.array(df.values.astype('float32'))
    scaler = MinMaxScaler(feature_range=(0, 1))
    data = scaler.fit_transform(data).flatten()
    n = len(data)
    # Point for splitting data into train and test
    split = int(n*split_percent)
    train_data = data[range(split)]
    test_data = data[split:]
    return train_data, test_data, data
train_data, test_data, data = get_train_test(sunspots_url)

In [9]:
train_data

array([0.22852638, 0.24665089, 0.2758077 , ..., 0.3506698 , 0.4546887 ,
       0.4862096 ], dtype=float32)

In [23]:
model = Sequential()

In [24]:
model.add(SimpleRNN(2,input_shape=(1,12,1)))

ValueError: ignored

In [25]:
model.add(Dense(4,activation='relu'))
model.add(Dense(1,activation='linear'))

In [26]:
model.compile(loss='mse', optimizer='adam')

In [32]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, None, 4)           8

 dense_3 (Dense)             (None, None, 1)           5

=================================================================
Total params: 13
Trainable params: 13
Non-trainable params: 0
_________________________________________________________________

In [28]:

# Prepare the input X and target Y
def get_XY(dat, time_steps):
    # Indices of target array
    Y_ind = np.arange(time_steps, len(dat), time_steps)
    Y = dat[Y_ind]
    # Prepare X
    rows_x = len(Y)
    X = dat[range(time_steps*rows_x)]
    X = np.reshape(X, (rows_x, time_steps, 1))    
    return X, Y
 
time_steps = 12
trainX, trainY = get_XY(train_data, time_steps)
testX, testY = get_XY(test_data, time_steps)

In [29]:
model.fit(trainX, trainY, epochs=20, batch_size=1, verbose=2)

Epoch 1/20
187/187 - 1s - loss: 0.0328 - 888ms/epoch - 5ms/step
Epoch 2/20
187/187 - 0s - loss: 0.0174 - 242ms/epoch - 1ms/step
Epoch 3/20
187/187 - 0s - loss: 0.0133 - 231ms/epoch - 1ms/step
Epoch 4/20
187/187 - 0s - loss: 0.0106 - 251ms/epoch - 1ms/step
Epoch 5/20
187/187 - 0s - loss: 0.0090 - 231ms/epoch - 1ms/step
Epoch 6/20
187/187 - 0s - loss: 0.0084 - 219ms/epoch - 1ms/step
Epoch 7/20
187/187 - 0s - loss: 0.0079 - 229ms/epoch - 1ms/step
Epoch 8/20
187/187 - 0s - loss: 0.0081 - 229ms/epoch - 1ms/step
Epoch 9/20
187/187 - 0s - loss: 0.0079 - 220ms/epoch - 1ms/step
Epoch 10/20
187/187 - 0s - loss: 0.0079 - 231ms/epoch - 1ms/step
Epoch 11/20
187/187 - 0s - loss: 0.0078 - 244ms/epoch - 1ms/step
Epoch 12/20
187/187 - 0s - loss: 0.0078 - 235ms/epoch - 1ms/step
Epoch 13/20
187/187 - 0s - loss: 0.0079 - 225ms/epoch - 1ms/step
Epoch 14/20
187/187 - 0s - loss: 0.0078 - 241ms/epoch - 1ms/step
Epoch 15/20
187/187 - 0s - loss: 0.0079 - 221ms/epoch - 1ms/step
Epoch 16/20
187/187 - 0s - loss: 0.0078 - 225ms/epoch - 1ms/step
Epoch 17/20
187/187 - 0s - loss: 0.0080 - 218ms/epoch - 1ms/step
Epoch 18/20
187/187 - 0s - loss: 0.0078 - 226ms/epoch - 1ms/step
Epoch 19/20
187/187 - 0s - loss: 0.0079 - 231ms/epoch - 1ms/step
Epoch 20/20
187/187 - 0s - loss: 0.0079 - 238ms/epoch - 1ms/step

In [30]:
x = np.array([1, 2, 3])
# Reshape the input to the required sample_size x time_steps x features 
x_input = np.reshape(x,(1, 3, 1))
y_pred_model = model.predict(x_input)

1/1 [==============================] - 0s 154ms/step

In [31]:
y_pred_model

array([[[0.730164 ],
        [1.3729985],
        [2.0158327]]], dtype=float32)